<div class="container">
  <h1 class="text-center">Create a new community:</h1>
  <form [formGroup]="createCommunityForm" (submit)="onFormSubmit($event)">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="name"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        formControlName="description"
        type="text"
        class="form-control"
        id="description"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</div>
