<div class="container">
  <div *ngIf="articleData?.article" class="card">
    <h5 class="card-header">{{ articleData?.article.title }}</h5>
    <div class="card-body">
      <p class="card-text">{{ articleData?.article.text }}</p>
    </div>
    <div class="card-footer text-body-secondary">
      <i
        class="bi bi-caret-up-square"
        style="cursor: pointer"
        (click)="upvoteArticle(articleData.article.id)"
      ></i>
      <span class="card-text px-2">
        {{ articleData?.article.karma }}
      </span>
      <i
        class="bi bi-caret-down-square"
        style="cursor: pointer"
        (click)="downvoteArticle(articleData.article.id)"
      ></i>
    </div>
  </div>

  <form
    [formGroup]="commentForm"
    (submit)="postComment(articleData.article.id)"
    class="my-4"
  >
    <textarea
      formControlName="text"
      class="form-control"
      placeholder="Leave a comment here"
      id="text"
    ></textarea>
    <button type="submit" class="btn btn-primary" [disabled]="!isLoggedIn()">
      comment
    </button>
  </form>

  <app-comment
    [commentData]="commentData"
    [replyData]="replyData"
  ></app-comment>
</div>
