<div class="container">
  <h1 class="text-center">Create Article</h1>
  <form [formGroup]="articleForm" (submit)="onFormSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="title"
      />
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Description</label>
      <textarea
        formControlName="text"
        class="form-control"
        placeholder="Leave a comment here"
        id="text"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input
        formControlName="image"
        type="text"
        class="form-control"
        id="image"
      />
    </div>
    <div class="mb-3">
      <label for="tag" class="form-label">Tag</label>
      <input formControlName="tag" type="text" class="form-control" id="tag" />
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</div>
