<div class="container" *ngFor="let data of commentData.comments">
  <!-- comment -->
  <div class="card mt-2">
    <h5 class="card-header">{{ data.isDeleted ? "Deleted" : data.text }}</h5>
    <div class="card-footer text-body-secondary d-flex align-items-center">
      <i
        class="bi bi-caret-up-square"
        style="cursor: pointer"
        (click)="upvoteComment(data.id)"
      ></i>
      <span class="card-text px-2">
        {{ data.karma }}
      </span>
      <i
        class="bi bi-caret-down-square pe-auto"
        style="cursor: pointer"
        (click)="downvoteComment(data.id)"
      ></i>
      <button
        class="btn mx-4"
        (click)="delete(data.id)"
        [disabled]="!isLoggedIn()"
      >
        Delete
      </button>
      <button
        (click)="toggleReply(data.id)"
        class="btn mx-4"
        [disabled]="!isLoggedIn()"
      >
        Reply
      </button>
      <form
        [hidden]="activeReplyId == data.id ? false : true"
        [formGroup]="replyForm"
        (submit)="postReply(data.id)"
        class="my-4"
      >
        <textarea
          formControlName="text"
          class="form-control"
          placeholder="Leave a reply.."
          id="text"
        ></textarea>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!isLoggedIn()"
        >
          comment
        </button>
      </form>
    </div>
  </div>
  <!-- reply -->
  <!-- this makes and empty div for every reply in replyData variable NEED TO FIX -->
  <!-- need to add infinite reply possibility / as of now only 1 reply is possible -->
  <div class="container" *ngFor="let reply of replyData">
    <div *ngIf="reply.replyToCommentId === data.id" class="card mt-2">
      <h5 class="card-header">
        {{ reply.isDeleted ? "Deleted" : reply.text }}
      </h5>
      <div class="card-footer text-body-secondary d-flex align-items-center">
        <i class="bi bi-caret-up-square" (click)="upvoteComment(reply.id)"></i>
        <span class="card-text px-2">
          {{ reply.karma }}
        </span>
        <i
          class="bi bi-caret-down-square"
          (click)="downvoteComment(reply.id)"
        ></i>
        <button
          class="btn mx-4"
          (click)="delete(reply.id)"
          [disabled]="!isLoggedIn()"
        >
          Delete
        </button>
        <button
          (click)="toggleReply(reply.id)"
          class="btn mx-4"
          [disabled]="!isLoggedIn()"
        >
          Reply
        </button>
        <form
          [hidden]="activeReplyId == reply.id ? false : true"
          [formGroup]="replyForm"
          (submit)="postReply(reply.id)"
          class="my-4"
        >
          <textarea
            formControlName="text"
            class="form-control"
            placeholder="Leave a reply.."
            id="text"
          ></textarea>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!isLoggedIn()"
          >
            comment
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
