/* You can add global styles to this file, and also import other style files */
/*C:\Users\VUKASIN\Documents\programiranje\reddit clone\frontend\redditclone\node_modules\bootstrap\dist\css\bootstrap.css*/
@import "bootstrap/dist/css/bootstrap.css";

/* @font-face {
  font-family: "alagard";
  src: url("./assets/fonts/alagard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "alagard", sans-serif;
} */
